# Database
# On Replit, this is automatically set.
# DATABASE_URL="postgresql://..."

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# Optional: For production
# NEXTAUTH_URL="https://your-domain.vercel.app"
